*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#header{
    height: 100px;
    background-color: black;
    position: relative;
}

.container{
    width: 75%;
    height: 100%;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 15%;
    height: 100%;
}


.nav li{

    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}
.nav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
}

.nav li:hover a{
    color: slateblue;
}

.iconBlock{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}


.distribution{
    height: 60%;
    border-left: 1px solid white;
    margin-top: 12px;
}
.btn{
    line-height: 100px;
    background: black;
    border: none;
}

.btn:hover i{
    color: slateblue;
}

.fa{
    color: aliceblue;
    background-color: black;

}



.personal .btn-personal{
    position: relative; 
}

.personal .detailPersonal{
    display: none;
    width: 250px;
    height: 220px;
    background-color: rgb(207, 207, 200);
    position: absolute;
    list-style-type: none;

}

.personal .detailPersonal li{
    margin-left: 25px;
    width: 100%;
    height: 22%;
    padding-top: 20px;
}

.personal .detailPersonal li a{ 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}


.personal button:hover .detailPersonal{
    display: block;
}


#slider{
    min-height: 500px;
    background-color: #333;
}
