*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*---------------header-------------*/

#header{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
    
}

.container{
    width: 75%;
    height: 100px;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 15%;
    height: 100px;
}

.nav li{

    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}

.nav li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
}

.nav li:hover a{
    color: slateblue;
}

.iconBlock{
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.distribution{
    height: 60%;
    border-left: 1px solid white;
    margin-top: 12px;
}

.btn{
    line-height: 100px;
    background: black;
    border: none;
}

.btn:hover i{
    color: slateblue;
}

.fa{
    color: aliceblue;
    background-color: black;

}

.personal .btn-personal{
    position: relative; 
}

.personal .detailPersonal{
    display: none;
    width: 250px;
    height: 220px;
    background-color: rgb(207, 207, 200);
    position: absolute;
    list-style-type: none;

}

.personal .detailPersonal li{
    margin-left: 25px;
    width: 100%;
    height: 22%;
    padding-top: 20px;
}

.personal .detailPersonal li a{ 
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.personal button:hover .detailPersonal{
    display: block;
}
/*------------------------------------------------------*/


/*-----------------content------------------------------*/
#content{
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #333;
}


/*--------------------------------------------------------*/


/*-----------------------footer----------------------------*/
#footer{
    width: 100%;
    background-color: #000000;
    margin-bottom: 0;
}

#footer .footer__top{
    width: 100%;
    height: 180px;
    border-bottom:1px solid #333;
}

#footer .footer__bottom{
    width: 100%;
    height: 170px;
    color: #fff;
    display: flex;
    flex-direction: row;
}

#footer .footer__bottom .pay{
    width: 40%;
    height: 170px;
}

#footer .footer__bottom .footer_img{
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.pay h4{
    margin-top: 20px;
    margin-left: 20px;
}

.pay .listMethodPay{
    width: 65%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    text-align: center;
    color: #fff;
}

.pay .listMethodPay .item{
    width: 25%;
    margin: auto 0;    
}

#footer .footer__bottom .community{
    width: 60%;
    height: 170px;
}

.community h4{
    margin-top: 20px;
    margin-left: 750px;
}

.community .listCommunity{
    width: 18%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 750px;
}

.community .listCommunity .item{
    width: 30%;
    margin: auto 0;
}